@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

:root {
    --primary-color: #ee5f73;
    --text-color: #282c3f;
    --font-family: "Assistant", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    scroll-behavior: smooth;
    color: var(--text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    padding-bottom: .5rem;
}

.h-100 {
    height: 100% !important;
}

.w-100 {
    width: 100% !important;
}

.d-none {
    display: none !important;
}

img {
    width: 100%;
    max-width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.position-relative {
    position: relative;
}

.header-container {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    padding-inline: 10px;
    background-color: #FFF;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .0658);
    overflow: hidden;
    display: grid;
    /* grid-template-columns: auto 1fr 150px; */
    grid-template-columns: auto 150px;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.logo {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

.search-section {
    display: flex;
    align-items: center;
    gap: 1.55rem;
    width: min(100% - 350px);
    background: #f5f5f6;
    border: 1px solid #f5f5f6;
    margin: 0 auto;
    padding: 10px;
    border-radius: 4px;
}

.search-section input {
    outline: none;
    border: none;
    padding: 0;
    background: transparent;
    font-size: 14px;
    letter-spacing: .5px;
    font-family: var(--font-family);
    font-weight: 500;
    height: 100%;
    width: 100%;
    color: #696e79;
}

.search-section>span>svg {
    opacity: .785;
}

main {
    margin-top: 85px;
    width: min(100% - 30px);
    margin-inline: auto;
}

.product-list {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr)); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.product-card {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: calc(100% / 6 - 20px);
    height: 100%;

}

.products-details:not(#append_Wishlist .products-details) {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    position: relative;
    z-index: -1;
}


.product-brand {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-info {
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
}

.product-des {
    display: flex;
    gap: .25rem;
    align-items: center;
    margin-top: .35rem;
}

.product-discountedPrice {
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}

.product-strike {
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}

.product-discountPercentage {
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}

.product-top--section {
    position: relative;
    overflow: hidden;
}

.wishlist-section {
    width: 100%;
    opacity: 0;
    display: grid;
    place-items: center;
    position: absolute;
    top: 100%;
    background-color: #FFF;
    padding: 1rem;
    transition: top 250ms ease;
}

.product-card:hover .wishlist-section {
    top: 80%;
    opacity: 1;
}

.wishlist-btn {
    display: flex;
    gap: .358rem;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #d4d5d9;
    color: #282c3f;
    letter-spacing: .3px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    width: 100%;
    padding: 5px 0;
    cursor: pointer;
}

.wishlist-btn>* {
    pointer-events: none;
}

.menu-tooling--section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.skeleton {
    background-color: #e0e0e0;
    background-image: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
}

.skeleton .product-top--section {
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.count-Badge:not(:empty) {
    position: absolute;
    top: -2px;
    right: 19px;
    background-color: #f16565;
    color: #FFF;
    font-size: 12px;
    padding: 0;
    border-radius: 9999px;
    display: grid;
    place-items: center;
    width: 18px;
    height: 18px;
    line-height: .25;
}

.empty-wishlist {
    display: grid;
    grid-template-rows: auto auto auto;
    place-items: center;
    padding-top: 15%;
}

.empty-wishlist h3 {
    font-size: 20px;
    font-size: 600;
}

.empty-wishlist p {
    font-size: 18px;
    color: #94989f;
    margin-top: 10px;
    font-weight: 400;
}

.empty-wishlist img {
    width: 120px;
    margin-top: 20px;
}

.move-to-bag--btn {
    font-size: 14px;
    font-weight: 700;
    color: var(--primary-color);
    padding: 4px 30px;
    border: 1px solid;
    border-radius: 4px;
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 10px;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

.wishlist--closed-btn,.bag--closed-btn {
    background-color: #ffffff63;
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 1;
    top: 7px;
    right: 7px;
    cursor: pointer;
    border-radius: 4px;
}

.wishlist--closed-btn>*, .bag--closed-btn > * {
    pointer-events: none;
}

.select-size {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .55rem;
    margin: 5px 0;
}

.select-size>span {
    border: 1px solid #d4d5d9;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    font-size: 16px;
    color: #696e79;
    font-weight: 400;
    line-height: .7;
    border-radius: 9999px;
}

.select-size>span.select {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.notify-success,
.notify-danger {
    padding: 1rem;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .75px;
    border-radius: 6px;
}


.bag-container {
    display: grid;
    grid-template-columns: 2fr .75fr;
    position: relative;
}

.item-Block {
    padding: .55rem 0;
}

.item-Block>ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-inline: 10rem;
}

.item-Block>ul>li {
    list-style: none;
    display: grid;
    grid-template-columns: 120px auto;
    border: 1px solid rgb(234, 234, 236);
    padding: .55rem .45rem;
    gap: 1rem;
    border-radius: 4px;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.item-brand {
    font-weight: 700;
    font-size: 18px;
}

.item-info {
    font-size: 14px;
    font-weight: 400;
    color: #282c3f;
}

.item-size {
    font-size: 14px;
    font-weight: 400;
    color: #282c3f;
    opacity: .75;
}

.item-img img {
    height: 100%;
}

.price-Block {
    position: fixed;
    padding: 15px;
    display: flex;
    border: 1px solid #d4d5d9;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    right: 25px;
    width: 20%;
    height: auto;
    top: 30%;
    transform: translateY(-50%);
}
.price-Block h4{
    font-size: 14px;
    font-weight: 700;
    color: #535766;
}

.price-info{
    display: flex;
    flex-direction: column;
    gap: .55rem;
}

.price-info > p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
}

.total-amount{
    margin-top: .25rem;
    padding-top: .25rem;
    border-top: 1px solid rgb(234, 234, 236);
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}